.input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #eee;
    background-color: #fafafa;
    color: #BDBDBD;
    border-radius: 3px;
    margin-bottom: 8px;
    font-size: 0.75rem;
  }
  