
.signup {
    background-color: white;
    border: 1px solid #eee;
    margin-top: 10px;
    padding: 20px 0;
    text-align: center;
  }
  
  .signup span {
    color: black;
    font-weight: 500;
    font-size: 0.9rem;
  }
  .signup a {
    font-weight: 600;
    text-decoration: none;
    color: #0095f6;
  }
  