//button
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn{
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__input {
        height: 50px;
        border: 1px solid  gainsboro;
        font-size: 15px;
        padding-left: 5px;
        color: $color;

    }
&__input:hover {

  border: 2px solid royalblue
} 
}