// section two 
.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;

    &__text {
        font-size: 14px;
        color: $color;
    }
    &__link {
        font-size: 14px;
        color: $primary_color;
    }
    @media screen  and (max-width:1028px){
        display: none;
    }
    @media screen and (max-width: 921px){
        padding-top: 10px;
    }
    @media screen and (max-width:412px){
        display: none;


    }
    @media screen and (max-width:414px){
      display: none

     }
     @media screen  and (max-width:280px){
         display: none;
     }
}
